<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1038987442498-2o85h6u361tahp4ed1qvki90flm5g02b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1038987442498-2o85h6u361tahp4ed1qvki90flm5g02b</string>
	<key>API_KEY</key>
	<string>AIzaSyB0Ftf5U1_60dbOGZIqHjBgzCvz-EwLYUU</string>
	<key>GCM_SENDER_ID</key>
	<string>1038987442498</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.recruitment.app</string>
	<key>PROJECT_ID</key>
	<string>recruitment-f1e2a</string>
	<key>STORAGE_BUCKET</key>
	<string>recruitment-f1e2a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1038987442498:ios:f3ecb52914799f7d9970db</string>
</dict>
</plist>